.about {
    margin-top: 3em;
    min-height: 85vh;
}

.img {
    width: 150px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
    float: left;
}

.cite {
    position: relative;
    margin-bottom: 2rem;
    float: left;
    width: -webkit-fill-available;
}

.details{
    margin-top: 10px;
}

.person-name {
    font-size: 1.7rem;
}

.profission {
    font-size: 1rem;
}

.about-text {
    font-size: 1rem;
    line-height: 1.9;
    float: left;
}

.books{
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}
