.container {
    max-width: 65vw;
    margin: 3rem auto;
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


@media only screen and (max-width:768px) {
    
    .container {
        width: 50vw;
    }

    
}

