.repo {
    font-weight: 300;
    padding: 1rem 1rem 1rem 1rem;
    width: 250px;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    transition: all 0.25s;
    color: #6b6b6b;
    font-weight: 400;
    overflow-x: hidden;
}


.repo:hover {
    background-color: #6b6b6b;
    color: #ffcc19;;
}

.repo-active {
    background: #e5b200;    
}


