.repo {
    padding: 1rem;
    width: 250px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.25s;
    overflow-x: hidden;
    margin: -3px 0 -3px 0;
    color: #6b6b6b;
}


.repo:hover {
    background-color: #6b6b6b;
    color: #ffcc19;
}

.repo-active {
    background: #6b6b6b;
    color: #ffcc19;
}
