

#sidebar,#sidebar-lg {
    background-color: #d1cebd;
    color:#fff;
    width: 20rem;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  #sidebar {
    transform: translateX(-220px);
    width: 0;
    transition: all 0.4s;
    margin-right: 0;
  }
  
  #sidebar .navbar-header ,
  #sidebar-lg .navbar-header-lg {
    background-color: #bcb9aa;
    padding: 3rem ;
    font-size: 1.8rem;
  }

  

  #main-content,
  #nav-icon {
    display: none;
  }

  #main-content {
    padding: 0;
    margin-bottom: -1px;
    margin-right: -1px;

  }

  
  #main-content .check-box,
  #nav-icon .checkbox-nav-icon
   {
    cursor: pointer;
    display: inline-block;
    position: relative;    
  }
  
  #main-content .check-box .line,
  #nav-icon .checkbox-nav-icon .line {
    width: 20px;
    height: 2px;
    background-color: #212121;
    margin: 4px 0;
    display: block;
  }

  #main-content .check-box .line {
    background-color: #888;
  }
  
  #checkbox,
  #checkbox-nav {
    display: none;
  }
  
  #checkbox:checked ~ #sidebar {
    width: 220px;
    transform: translateX(0);
    margin-right: 45px;
  }

  
  
  @media only screen and (max-width:768px){

    #sidebar-lg {
        display: none;
    }
    
    #main-content{
        display: inline-block;
        align-self: flex-start;
    }

    
    #nav-icon {
      display: inline-block;
      padding: 0 1rem 2rem 0;
    }

    #sidebar .navbar-header ,
    #sidebar-lg .navbar-header-lg {
    background-color: #bcb9aa;
    padding: 1.5rem ;
    font-size: 1rem;
  }

    
}

@media only screen and (min-width:768.1px) {
  #sidebar {
    display: none;
  }
}


