.sidebar {
    width: 22rem;
    background-color: #222831;
    padding: 3.5rem 0;
    text-align: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    
}

.myRepos {
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    padding: 2rem 0;
}

.logo {
    width: 50px;
    position: absolute;
    top: 1.4rem;
    left: 4rem;
    height: 50px;
}

.close {
    font-size: 1.6rem;
    color: white;
    position: absolute;
    top: 2rem;
    cursor: pointer;
    right: 2rem;
    display: none;
}

@media only screen and (max-width:870px){
    .sidebar {
        display: none;
        z-index: 5;

    }

    .close {
        display: block;
    }
}