
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    background: #fafafa;
}

.App {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: stretch;
    background: #fafafa;

    
}
