
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 62.5%;
}

@media only screen and (max-width:768px){
    .body {
        font-size: 5px ;
    }
}



.App {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr minmax(400px,1000px) 1fr;
    grid-auto-rows: 100vh;
    
}

.menu-icon {
    width: 50px;
    height: 60px;
    margin: 4.5rem 0 0 2rem;
    display: none;
    cursor: pointer;
}


@media only screen and (max-width:870px){
    .menu-icon {
        display: block;
    }

    
}